@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tg-bg: #0a0a0a;
  --tg-text: #eaeaea;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background: var(--tg-bg);
  color: var(--tg-text);
}

video {
  transform: translateZ(0);
}

